/*Projeto.css*/
body{
font-family: "Gill Sans", sans-serif;
}
#head{
    display: flex;
<<<<<<< HEAD
=======
    align-items: center;
>>>>>>> 1c6e0c21e4d21b8ebab5edf50d707ed1dc4a6de5
}
#head img{
    width: 11%;
    height: 11%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
}
#marks img{
    height: 75%;
    width: 75%;
}