/*Projeto.css*/
#head{
    display: flex;
}
#head img{
    width: 11%;
    height: 11%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
}
#marks img{
    height: 75%;
    width: 75%;
}