/*Marcas.css*/
body{
    font-family: 'Gill Sans', sans-serif;
    background-image: url(../imagem\ de\ fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    }
    #head{
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
    }
    #head img{
        filter: invert(100%);
        width: 11%;
        height: 11%;
    }
    a{
      text-decoration: none;
      color:white
  }
    #slideshow {
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin: 0 auto;
      }
      .slide {
        float: left;
        height: 510px;
        width: 728px;
      }
      .slide img{
        height: 100%;
        width: 100%;
      }
      .slide-wrapper {
        width: calc(728px * 4);
        animation: slide 10s ease infinite;
      }
    @keyframes slide {
          20% {margin-left: 0px;} 
          40% {margin-left: calc(-728px * 1);}
          60% {margin-left: calc(-728px * 2);}
          80% {margin-left: calc(-728px * 3);}
        }
        